* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

html {
    height: 100%;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

body {
    background-color: #e3ebff;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* --- NAVBAR ---*/
header {
    position: relative;
    padding: 8px 1rem 0 1rem;
    height: 10%;
    margin: 0 auto;
    background-color: #3c3c3c;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.navbar .logo a {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2.5rem;
}

.text-box h1 {
    max-width: 800px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 800;
    padding-top: 80px;
}

@media screen and (max-width: 768px) {
    .navbar .logo a {
        font-size: 20px;
        padding-top: 10px;
    }

    header {
        padding: 0 2rem;
    }

    .navbar .links {
        gap: 1.5rem;
        padding-top: 10px;
    }

    .text-box h1 {
        font-size: 36px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .navbar .logo a {
        font-size: 1.5rem;
        padding-top: 5px;
    }

    .navbar .links {
        flex-direction: column;
        gap: 1rem;
        padding-top: 10px;
    }

    .navbar .links a {
        font-size: 1.2rem;
    }

    .text-box h1 {
        font-size: 28px;
        padding-top: 20px;
    }
}

/*--- TILES_OF_TOOLS ---*/
.tools {
    display: grid;
    justify-content: center;
    grid-gap: 4rem;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    width: max-content;
    padding-bottom: 102px;
}

.tools .tile {
    max-width: 350px;
    height: 400px;
    background-color: #f1f1f1;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tools .tile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tools a {
    color: black;
}

.tools .tile h2 {
    text-align: center;
    margin-top: 80px;
}

@media screen and (max-width: 1440px) {
    .tools {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0 80px 0;
    }
}

@media screen and (max-width: 1285px) {
    .tools {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .tools {
        grid-template-columns: 1fr;
        padding: 40px 0 100px 0;
    }
}

@media screen and (max-width: 500px) {
    .tools {
        padding: 4rem 0;
    }

    .tools .tile {
        max-width: calc(100vw - 4rem);
    }
}

/*--- ZAPATI ---*/
footer {
    width: 100%;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

footer p {
    margin: 0;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    footer h3 {
        font-size: 2rem;
    }

    footer p {
        text-align: center;
    }
}

/*--- pdf_tables.html ---*/
.pdf-box {
    border: 2px solid #ccc;
    padding: 300px 150px 150px 600px;
    margin: 0 auto;
    position: relative;
}

.pdf-input {
    margin-bottom: 20px;
}

.pdf-input input[type="file"] {
    display: none;
}

.pdf-input label {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ccc;
    cursor: pointer;
    text-align: center;
}

#table-container {
    margin-top: 20px;
}

#text-box_pdf {
    max-width: 800px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 800;
    padding: 40px 0 120px 0;
}

@media (min-width: 768px) {
    .pdf-box {
        padding: 150px 50px 50px 300px;
    }
}

@media (min-width: 992px) {
    .pdf-box {
        padding: 300px 150px 150px 600px;
    }
}

@media screen and (max-width: 1024px) {
    .pdf-box {
        padding: 200px 75px 75px 300px;
    }
}

@media screen and (max-width: 768px) {
    .pdf-box {
        padding: 150px 50px 50px 150px;
    }

    .pdf-input label {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .pdf-box {
        padding: 100px 25px 25px 25px;
    }

    .pdf-input label {
        font-size: 12px;
    }

    #text-box_pdf {
        font-size: 36px;
        padding: 20px 0 80px 0;
    }
}