.card-body {
    height: 400px
}
.card-text {
    overflow: auto;
}

.result-table {
    margin-top: 2rem;
}

.result-table tr:last-child {
    border-top: 2px solid black;
    /*border-bottom: 2px solid black;*/
}